@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    padding: 20px;
}

nav a{
    font-size: 0.8em;
    text-decoration: none;
    color: #262626;
    margin: 10px;
    
}

nav a:hover{
    border-bottom: 2px solid black;
}

nav img{
    width: 150px;
    display: inline-block;
    
}

header div{
    width: 700px;
    text-align: center;
    margin: auto;
}

header img{
    width: 100vw;
}

header h2{
    margin: 30px 0px 17px 30px;
}

header p{ 
    margin-left: 30px;
    font-size: 1.1;
}

header a#um{
    padding: 10px;
    background-color: #005CA5;
    margin: 20px 10px 20px 10px;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

header a#um:hover{
    background-color: #045291;
    box-shadow: 1px 1px black;
}

header a#dois{
    text-decoration: none;
    color: black;
}